$GrisOscuroTitulos: #424242;
$GrisClaro: #5f6368;
$GrisTexto: #414549;
$Azul: #4285f4;
$padding-forever: 5vh;
$puntero: pointer;
$Titulo-padding: 1%;
$subtitulo-padding: 2%;
$parrafo-padding: 1%;

body{
	font-family: 'Roboto';
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;


}

.logo{
	text-align: center;
	padding: $padding-forever;
	 i{
		 cursor: pointer;
	 }

}



.menu{
	list-style: none;

	li{
	 	display: inline-block;
	 }
	 a{
	 	color: $GrisOscuroTitulos;
	 	text-decoration: none;
	 	padding: 3vh;

	 }
}



hr{
	border-top: 5px solid $Azul;
	margin: 0 3%;
}

h2{
	padding: $Titulo-padding;
	color: $GrisOscuroTitulos;
}

span{
	padding: $Titulo-padding;
	color: lighten($GrisOscuroTitulos, 30%);
}

p{
	padding: $parrafo-padding;
	color: $GrisClaro;
}
 .letras-claras{
	 color: lighten($GrisTexto, 40%);
	 padding-bottom: 5%;
 }


.letra-azul{
	color: $Azul;
	text-align: right;
}

.tamano-image{
	width: 90%;
}

.inicia-sesion{
	background-color: #f1f3f4;
	padding: 2vh;
	margin: 3%;
	a{
		color: $Azul;
		text-decoration: none;
	}
	img{
		margin-left: 52%;
		margin-left: 86%;
    margin-top: -9%;
	}
}










.container{
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

.row{
  &:before{
    content:  "";
    display: table;
  }
  &:after{
    @extend .row:before;
    clear: both;
  }
}
[class*="col-"]{
  min-height: 7px;
  padding: 12px;
  float: left;
}
@function anchoColumnas($columns) {
  @return percentage(($columns/12));
}

@for $numColumna from 1 through 12{
  .col-#{$numColumna}{
    width: anchoColumnas($numColumna);
  }

}

@for $numColumna from 1 through 12{
	.col-#{$numColumna}{
		width-left: anchoColumnas($numColumna);
	}
}
